
<h1>Books</h1>

<h4>Title</h4>
<h4>Opinion</h4>


<ul>
  <% @books_all.each do |book| %>
    <li><%= link_to image_tag(book.user.get_image), user_path(book.id) %></li>
    <li><%= link_to book.title, book_path(book.id) %></li>
    <li><%= book.body %></li>
  <% end %>
</ul>

<%= render 'users/list', book: @book, user: @user %>